/* Write your CSS here */
.recent-match-card {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0f172a;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
}

.image {
  width: 180px;
  height: 200px;
}

.heading {
  font-size: 20px;
}

.won {
  color: #18ed66;
}

.lost {
  color: #e31a1a;
}

.status {
  font-size: 20px;
}
