.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

.home-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.ipl-logo-container {
  display: flex;
  align-items: center;
}
.ipl-logo {
  width: 34px;
  height: 34px;
  margin-right: 7px;
}
.title {
  font-family: 'Bree Serif';
  font-size: 42px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
